﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactenos</title>
</head>
<body>
    <div>
        <p> Contactenos <br/> 
            Nombre: Jairo Andrés Durango Hernández <br />
            Codigo: 0172010336 <br />
            Correo: jairo.durango94@hotmail.com <br />
            Telefono: 3208148201 <br />
            
        </p>
    </div>
</body>
</html>
